* {margin:0;padding:0;}
body {background-color:;font-family:'Arial';
margin-top:0px;
background-image:url(images/fon.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: 100%;
}


header .phone {float:right;margin-top:30px;font-size:30px;font-family:'Arial';color:#ADFF2F;}

nav {clear:both;height:6px;background-color:;border-radius:8px 8px 0px 0px;}
nav ul {list-style:none;}
nav ul li {float:left;margin:17px 20px;font-size:20px;font-family:'Georgia';font-style:italic;}
nav ul li a {color:#f7f6c5;text-decoration:none;}
nav ul li a:hover {text-decoration:underline;}

.header {
	margin-top:0%;
    margin-left:0%;
    margin-right:;
    margin-bottom:7%;
    width:100%;
    height:15%;
    border:1px solid #001111;
    background: ;
	background-image: url(images/logo.jpg);
	background-repeat: no-repeat;
    }
.pages { 
    margin-left:auto; 
    margin-right:auto; 
    width:90%;
    }
.content {
    margin-right:10px;
    width:80px;
    height:450px;
    border:1px solid #000000;
    background: ;
    float:left;
    }
.sidebar {
    width:180px;
    height:450px;
    border:1px solid #000000;
    background: #;
    float:left;
	box-shadow:0 0 0 1200px rgba(0, 0, 0, 0.33) inset;
    }
.foot {
    clear:both;
    }
.footer {
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    width:80px;
    height:50px;
    border:1px solid #000000;
    background: #;
    }
	
	a.buttonns {
  padding: 3px 14px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.701961) 0px 5px 12px;
   -webkit-transform-origin: 50% 1px;
   -webkit-transition: all 0.15s ease-in-out;
  background:  ;
  border-color: rgba(255, 255, 255, 0.027451) #FF8C39 rgba(255, 255, 255, 0.027451) rgba(255, 255, 255, 0.027451);
   border-style: solid;
  border-width: 1px 4px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.701961) 0px 5px 12px;
  color: #555;
  display:block;
  width:90px;
  font-family: Open Sans, Sans-serif;
  border-radius: 5px;
   font-size: 19px;
  letter-spacing: 4px;
  text-shadow: rgb(0, 0, 0) 0px 1px 1px;
  line-height: 30px;
  position: relative;
 margin: 20px auto;
  text-align: center;
  text-decoration:none;
}
a.buttonns:hover {
  cursor: pointer;
  opacity: 0.9;
  border-width: 1px 7px 1px 1px;
}
a.buttonns:active {
-webkit-box-shadow:inset rgba(0, 0, 0, 0.701961) 0px 7px 12px,rgba(0, 0, 0, 0.701961) 0px 2px 12px  ;
text-shadow: rgb(0, 0, 0) 0px -2px 1px;
margin-top: 1px;
}

	
	